.page {
  height: 100dvh;
  overflow: hidden;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  /* height: px; */
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.06em;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero {
  /* margin: 44px auto 98px; */
  /* display: grid; */
  align-items: center;
  gap: 68px;
}
.heroCopy {
  font-size: 20px;
}

.heroMainHeading {
  font-size: 60px !important;
  font-weight: 800 !important;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--mui-palette-divider);
  color: var(--mui-palette-text-secondary);
  font-size: 0.76rem;
  width: 100%;
}

.dashboardHeader { 
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .page {
    padding: 20px 100px;
  }
  .hero {
    max-width: 600px;
  }
}
